/* Variables */

:root {
  --other-text-align: start !important;
}

/* Classes */

.mybold {
    color: rgb(16, 120, 149);
    font-weight: 1000;
}

.definition {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    background: rgb(240, 240, 240);
}

.infobox {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    padding: 0em 2em 0em 4em;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    border-radius: 10px;
    background: 5px center / 3em no-repeat rgba(16, 120, 149, 0.1);
}

.infobox .math.display .MathJax {
   margin-top: 2em !important;
   margin-bottom: 1em !important;
   color: black;
}

.infobox::before {
    content: var(--c);
    width: 10rem;
    display: block;
    text-align: center;
    position: relative;
    left: -1.5rem;
    top: -1rem;
    font-weight: bold;
    color: white;
    background: rgb(16, 120, 149);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(68, 68, 68);
    border-image: initial;
    padding: 2px 10px;
}

.infobox figcaption {
    visibility: hidden !important;
}

.digression {
  border: 3px black; 
  border-style: solid none;
  background: 5px center / 3em no-repeat rgba(16, 120, 149, 0.1);
  margin-top: 2em; 
  margin-bottom: 2em;
  margin-right: 1em; 
  margin-left: 1em;
  padding: 1em 2em 1em 2em;
  font-size: .85em;
}

.digression::before {
    content: var(--c);
    width: 12rem;
    display: block;
    text-align: center;
    position: relative;
    left: -.5rem;
    top: -2rem;
    font-weight: bold;
    color: white;
    background: rgb(16, 120, 149);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(68, 68, 68);
    border-image: initial;
    padding: 2px 10px;
    margin: 0px 0px -20px 0px;
    font-size: .85em;
}

.digression figcaption {
    visibility: hidden !important;
}

.working {
  background-image: url("images/Icon_working.png");
  background-position: 1em 2em;
}

.center {
  text-align: center;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 1em;
  margin-bottom: 0.5rem;
  font-weight: 900;
  line-height: 1.2;
}

toc-active, .toc-active, csl-entry, .csl-entry {
  text-align: var(--other-text-align)
}

.math.display .MathJax {
   margin-top: 2em !important;
   margin-bottom: 2em !important;
}


